

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	padding: 28px 628px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 31px; 
	}

.screen {	
	background: linear-gradient(90deg, #5D54A4, #7C78B8);	
	position: relative;
	height: 600px;
	width: 360px;
    border-radius: 40px;
	box-shadow: 0px 0px 24px #5C5696;
}
.title{
	font-size: 60px;
	background:rgb(28, 38, 64);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	
	position: absolute;
}

.screen__background__shape1 {
    background: linear-gradient(180deg, white, red);	
    transform:rotate3d(0.5,0.7, 0.12, 60deg);
	height: 200px;
	width: 320px;
	top: 155px;
	right: -35px;	
	border-radius: 20px 20px 10px 10px;
    border: black;
    border-style: solid;
    border-width: 3px;
}

.screen__background__shape2 {
   
    transform:rotate3d(1, -1, 1, 60deg);
	height: 200px;
	width: 320px;
	background: gray;	
	top: 300px;
	right: 20px;	
	border-radius: 20px 20px 20px 20px;
    border: black;
    border-style: solid;
    border-width: 3px;
}
.screen__image {
    background: transparent;
    transform:rotate3d(0.5,0.7, 0.12, 60deg);
	height: 100px;
	width: 200px;
	top: 200px;
	right: 35px;	
}



.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

::placeholder {
	color: rgb(206, 73, 73);
	opacity: 1; /* Firefox */
  }

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #7386a4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #678e9e;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #7e8a93;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #5e767d;
	box-shadow: 0px 4px 5px black;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: black;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
